:root {
    --primary-color: #fcd34d;
}


body {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    background:#fef2f2;

}

/* Container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.container-center {
    text-align: center;
    margin: auto
}

/* links */
.link {
    text-decoration: none;
    padding: .5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: firebrick;
    border: solid var(--primary-color);

}

.secondary-link {
    color: firebrick;
    border-radius: 0.5rem;
    border: solid var(--primary-color);

}

/* lists */

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;

}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem
}

/* navigation */

.navigation {
    background-color: #fcd34d;
    Color: firebrick;
    padding: 1rem;
    border-bottom-style: inset;
    border-right-style: inset;
    border-color: dimgray;
    border-top-left-radius: 1rem;
}

.navigation .link {
    color: darkblue;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-image {
    height: 50vh;
    float:inline-end;
    margin: 0%;
    padding-right: 8rem;
}

.hero .hero-header {
    color: dimgray;
    border-top-style: outset;
    border-bottom-style: inset;
    font-style: oblique;
    padding-left: 1rem;

}

.hero .hero-header .heading-inverted {
    color: #fcd34d;
    padding-left: 6rem;
}


/* sections */

.section {
    padding: 0.5rem;
    background:#fef2f2;
}

.section h3 {
    text-align: center;
}

.ow {
    background-color: #f1f5f9;
}


/* footer */

footer {
    background-color: #fcd34d;;
    padding: 1.5rem 0rem;
    text-align: center;
    color: firebrick;
    border-top-left-radius: 1rem;
    border-top-style: inset;
    border-left-style: inset;
    border-color: dimgray;

}

.footer .link {
    color: darkblue;
}

.mypic {
    display: inline;
    height: 30vh;
    border-radius: 100rem;
    margin-left: 1.5rem;

}

/* blog */

.blogs {
    font-weight: bolder;
    text-align: center;
    padding-left: 6rem;
    padding-right:6rem;
    font-size:x-large;
    color: dimgray;
    word-wrap: break-word;
}

.title {

    color:dimgray;
    padding: 1rem;

}

.header {
    padding: 1rem;
    
}

p{
    display: block;
    font-weight: bold;
    color: dimgray;
    font-size: larger;
    padding:1rem
}

small{
    float: right;
    color:dimgray;
    padding: 1rem;
}